{% extends 'FamilyBookBundle:Default:Layout.html.twig' %}

{% block container %}
<div class="container">
    <div class="row">

        <!-- Newsfeed Common Side Bar Left
        ================================================= -->
        <div class="col-md-3 static">
            <div class="profile-card">
                <img src="{{ asset('front/images/users/user-1.jpg') }}" alt="user" class="profile-photo" />
                <h5><a href="{{ path('profil_new') }}" class="text-white">Sarah Cruiz</a></h5>
                <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
            </div><!--profile card ends-->
            <ul class="nav-news-feed">
                <li><i class="icon ion-ios-paper"></i><div><a href="{{ path('profil_new') }}">Profil</a></div></li>
                <li><i class="icon ion-ios-people"></i><div><a href="#">Rechercher proches</a></div></li>
                <li><i class="icon ion-ios-people-outline"></i><div><a href="#">Proches</a></div></li>
                <li><i class="icon ion-chatboxes"></i><div><a href="#">Messages</a></div></li>
                <li><i class="icon ion-images"></i><div><a href="#">Images</a></div></li>
                <li><i class="icon ion-ios-videocam"></i><div><a href="#">Videos</a></div></li>
            </ul><!--news-feed links ends-->
            <div id="chat-block">
                <div class="title">Chat online</div>
                <ul class="online-users list-inline">
                    {#<li><a href="{{ path('newsfeed-messages.html' )}}" title="Linda Lohan"><img src="{{ asset('images/users/user-2.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                    {#<li><a href="{{ path('newsfeed-messages.html') }}" title="Sophia Lee"><img src="{{ asset('images/users/user-3.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                    {#<li><a href="{{ path('newsfeed-messages.html' )}}" title="John Doe"><img src="{{ asset('images/users/user-4.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                    {#<li><a href="{{path( 'newsfeed-messages.html' )}}" title="Alexis Clark"><img src="{{ asset('images/users/user-5.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                    {#<li><a href="{{path( 'newsfeed-messages.html') }}" title="James Carter"><img src="{{ asset('images/users/user-6.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                    {#<li><a href="{{ path('newsfeed-messages.html' )}}" title="Robert Cook"><img src="{{ asset('images/users/user-7.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                    {#<li><a href="{{ path('newsfeed-messages.html') }}" title="Richard Bell"><img src="{{ asset('images/users/user-8.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                    {#<li><a href="{{ path('newsfeed-messages.html' )}}" title="Anna Young"><img src="{{ asset('images/users/user-9.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                    {#<li><a href="{{ path'newsfeed-messages.html' )}}" title="Julia Cox"><img src="{{ asset('images/users/user-10.jpg') }}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
                </ul>
            </div><!--chat block ends-->
        </div>

{#===================== edit post#}

        <div class="col-md-7">

            <!-- Post Create Box
            ================================================= -->
            <div class="create-post">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="form-group">
                            {{ form_start(edit_form) }}
                            <div class="hidden">
                                {{ form_widget(edit_form.Publier) }}
                            </div>
                            {{ form_widget(edit_form) }}<br>
                            <input type="submit" class="btn btn-primary pull-right" value="Modifier" />
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">



                    </div>
                    {{ form_end(edit_form) }}
                </div>

            </div><!-- Post Create Box End-->





    </div>
</div>
    </div>
{% endblock %}
