<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from thunder-team.com/friend-finder/newsfeed.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Jan 2017 21:26:28 GMT -->
<head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is social network html5 template available in themeforest......" />
        <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
        <meta name="robots" content="index, follow" />
        <title>
            {% block title %}FamilyBook | Actualité {% endblock %}</title>

        <!-- Stylesheets
        ================================================= -->
        <link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('front/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('front/css/ionicons.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('front/css/font-awesome.min.css') }}" />
        <link href="{{ asset('front/css/emoji.css') }}" rel="stylesheet">
        <!--Google Webfont-->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>
        <!--Favicon-->
        <link rel="shortcut icon" type="image/png" href="{{ asset('front/images/logo.png') }}"/>
    {% endblock %}
</head>
<body>
<!-- Header
================================================= -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {#<a class="navbar-brand" href="{{ path('family_acceuil') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" /></a>#}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-menu">
                        <li class="dropdown"><a href="{{path('publications_new') }}">Acceuil</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profil <span><img src="{{ asset('front/images/down-arrow.png') }}" alt="" /></span></a>
                            <ul class="dropdown-menu login">
                                <li><a href="{{path( 'profil_new') }}">Profil</a></li>
                                <li><a href="#">A propos</a></li>
                                <li><a href="#"> Album</a></li>

                            </ul>
                        </li>
                        <li class="dropdown"><a href="{{path('publications_new') }}">Deconnexion</a></li>
                    </ul>
                    <form class="navbar-form navbar-right hidden-sm">
                        <div class="form-group">
                            <i class="icon ion-android-search"></i>
                            <input type="text" class="form-control" placeholder="Search friends, photos, videos">
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<div id="page-contents" style="position: relative;">
    {% block container %}
    {% endblock %}
</div>

    <footer id="footer">
        {% block footer %}
        <div class="copyright">
            <p>FamilyBook Team © 2017. All rights reserved</p>
        </div>
        {% endblock %}
    </footer>

    <!-- Scripts
    ================================================= -->
    {#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&amp;callback=initMap"></script>#}
    <script src="{{ asset('front/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.scrollbar.min.js') }}"></script>
    <script src="{{ asset('front/js/script.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsdo46gZFgdNto78fWasC3_xUhu-5z-kc&callback=initMap" async defer></script>
</body>

<!-- Mirrored from thunder-team.com/friend-finder/newsfeed.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Jan 2017 21:28:33 GMT -->
</html>